{% extends "CSGOTalksiteBundle::layout.html.twig" %}
{% set button = button %}
{% set userUrl = userUrl %}
{% set nickname = nickname %}
{% set avatar = avatar %}

{% block title %}
    {{ parent() }}
{% endblock %}

{% block csgotalk_body %}
    {{ teamName }}
    {% for playerName in Player %}
        <li>
            {{ playerName }}
        </li>
    {% endfor %}

{% endblock %}