{% extends "CSGOTalksiteBundle::layout.html.twig" %}

{% block title %}
    {{ parent() }}
{% endblock %}

{% block csgotalk_body %}

    <div class="image">
        <img src="{{ asset('bundles/csgotalksite/images/1.jpg') }}">
        <div class="text">
            We talk, we bet, we win.
        </div>
    </div>

    <div class="wrap">
        <div class="text_wrap">
            Select your match</br> Leave your prediction</br> Talk about it.
        </div>
    </div>
{% endblock %}

