{% extends "CSGOTalksiteBundle::layout.html.twig" %}
{% set button = button %}
{% set userUrl = userUrl %}
{% set nickname = nickname %}
{% set avatar = avatar %}

{% block title %}
    {{ parent() }}
{% endblock %}

{% block csgotalk_body %}

    <div class="threads_background">
    	<a href="{{ path('csgo_talksite_create_thread') }}">
            <div class="btn">
    		
    			Create a thread
	        </div>
        </a>
    	<div class="threads_content_container">
    		<div class="current_threads">
    			<p>Current Threads :</p>
    		</div>
    		<div class="threads_content">
				
			</div>
		</div>
    </div>

	

	
{% endblock %}